{{>head}}
 <body>
    <h1>Weather</h1>

    <form >
        <input id="user-adress" type="text">
        <button >Search</button>
    </form>

    <div class="container">
        <p id="searching"></p>
        <p id="error"></p>
        <p id="location"></p>
        <p id="weather"></p>
        <p id="temperature"></p>
    </div>

{{>footer}}
<script src="/js/main.js"></script>
 </body>
</html>