<header>
    <nav>
        <ul>
            <li>
                <a href="/">Weather</a>
                <a href="/about">About</a>
                <a href="/help">Help</a>
            </li>
        </ul>
    </nav>
</header>